<html>

<head>

<style>
	header
	{
    padding: px;
    color: BLACK;
    border: 3px solid black;
    text-align: center;
	border-radius: 8px;
    }
	#temp 
	{
    background-color: lightgrey;
    width: 275px;
    border: 7px solid 	#2F4F4F;
    padding: 25px;
    margin: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	border-radius: 15px;
    }

</style>

<title> LOST SOUL</title>

</head>

<body background="D.jpg">
<center>
<header>
<h1><p class="Monospace">LOST SOUL</p></h1>
</header>
</center>


<center>
<h3><p class="Monospace">Where your soul finds its inner peace</p></h3>
<br>
<img  src="coorg.jpg" height="500" width="500"></a>
<br>
<br> 
<div id="temp">
Kodagu is rated as one of the top hill station destinations in India. Some of the most popular tourist attractions in Kodagu include Talakaveri, Bhagamandala, Nisargadhama, Abbey Falls, Dubare, Nagarahole National Park, Iruppu Falls, and the Tibetan Buddhist Golden Temple.
</div> 

</body>
</html>
